:root {
  --primary: #3E85F3;
  --secondary: #2B78EF;
  --light-blue: #E3F3FF;
  --dark-blue: #CAE8FF;
  --bg-blue: #DCEBF7;
  --background: #FFFFFF;
  --white: #FFFFFF;
  --black-title: #171820;
  --black: #111111;
  --text: #343434;
  --main-yellow: #F3B249;
  --light-yellow: #FCF0D4;
  --red-error: #DA1414;
  --red-error-light: #E74A3B;
  --main-red: #EA3D65;
  --light-red: #FFD2DD;
  --green-valid: #3CBC81;
  --muted: #F7F6F9;
  --close-button: #111111;
};
